@font-face {
    font-family: 'SankofaDisplay-Regular';
    src: url('Fonts/SankofaDisplay-Regular.ttf');
}
*{
    --green:#596D48;
}
p{
    font-size: 20px;
    font-weight: 600;
}
body{
    display: flex;
    min-height: 100vh;
    background-color:rgb(14, 14, 14);
    margin: 0 auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    max-width: 1200px;

}

label, input{
    display: block;
}
label{
    font-size: 10px;
    font-weight: 700;
    color: rgb(35, 39, 42);
}
input{
    border: 1px solid #E5E7EB;
    height: 20px;
    border-radius: 1px;
}
input:focus-visible, input:focus{
    outline: 1px solid blue;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.664);

}
input[type='password']:invalid{
    border-color: red;
}
input[type='password']:invalid:focus{
    outline:0px red;
}
.inputs{
    margin-bottom: 20px;
}

.left {
    flex-basis: 60%;
    background-image: url(Images/background.jpg);
    background-size: cover;
    height: 100vh; /* Set to 100% to follow the parent's height */
    display: flex;
    flex-direction: column;
   
    
}

#left-text{
    display: flex;
    justify-content: center;
    margin-top: 150px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.649);
    font-family: 'SankofaDisplay-Regular', sans-serif;
    font-size: 100px;
    color: white;
}
#left-text img{
    width: 80px;
}
#credit{
    color: white;
    align-self: center;
position: fixed;
bottom: 0px;
    font-size: 10px;

}
.right {
    justify-content: center;
    flex-grow: 1; /* Allow .right to take up the remaining space */
    display: flex;
    flex-direction: column;
    height: 100vh; /* Ensure .right spans full height of the parent */

}
.middle{
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.377);
    z-index: 1;
    background-color: white;
}
.form{
}
.topp{
    flex-grow: 0.5;
display: flex;
flex-direction: column;
justify-content: flex-end;
padding-bottom: 30px;
}
.bunn{
    padding-top: 20px;
flex-grow: 1;
}
.bunn p{
    font-weight: 400;
    font-size: 15px;
}
button[type='submit']{
    background-color: var(--green);
    color: white;
    border-style: none;
    border-radius: 10px;
    padding: 15px 50px;
    font-weight: 700;
    font-size: medium;
}
a{
    text-decoration: none;
    color: var(--green);
    font-weight: 700;
}
.bunn, .topp{
    background-color: #f9fafc;
}
.bunn, .topp, .middle{
padding-left: 30px;
}